<!-- bar.html -->
<div class="topbar">
  <span id="menu-toggle" class="opener"><i class="gti-bars"></i></span>
  
  <div class="barc">
    <a href="#!" class="gt-logo"><img src="img/gt-logo.png" alt="Game-tournaments.com"></a>
    
    <div class="s-lang">
      <div class="dropdown">
        <a class="dla" id="ddlang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          RU
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="ddlang">
          <li class="active"><a href="#">Русский</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Italiano</a></li>
        </ul>
      </div>
    </div>

  </div> 
</div>
