<!-- bar.html -->
<div class="topbar">
  <span id="menu-toggle" class="opener"><i class="gti-bars"></i></span>
  
  <div class="barc">
    <a href="/" class="dvLogo"><img src="/img/logo.png" alt="dotaviewer.com"></a>
    
    <div class="mheader">
      <div class="bc">
        <h1>
          Vega <span>VS</span> Navi
        </h1>
        /
        <span>
          Dotapit Season 5
        </span>
      </div>
      
      <div class="dropdown mapDrop pull-right">
        <button class="btn btn-border btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Карта <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Карта 1</a></li>
          <li><a href="#">Карта 2</a></li>
          <li><a href="#">Карта 3</a></li>
        </ul>
      </div>
    </div>
    
{#
    <div class="bread">
      <ol id="breadcumbs" class="breadcrumb hidden-xs">
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <a itemprop="url" href="/"><span itemprop="title">Главная</span></a>
        </li>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <a title="Dota 2" itemprop="url" href="/dota-2"><span itemprop="title">Название матча</span></a>
        </li>
      </ol>
    </div>
#}
   
    <div class="sLang">
      
      <div class="dropdown pull-right">
        <a class="btn btn-border" id="ddlang" data-toggle="dropdown">
          RU
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="ddlang">
          <li class="active"><a href="#">Русский</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Italiano</a></li>
        </ul>
      </div>
      
      <div class="dropdown mdrop pull-right">
        <button class="btn btn-border btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span id="vtitle"><u>[RU]</u> <b>Ru Hab</b> <em>/  EHOME.L vs DUOBAO | bo2 | Dota2 ProfesSional league</em></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#"> [en] <b>Ru Hab</b>  /  EHOME.L vs DUOBAO | bo2 | Dota2 ProfesSional league</a></li>
          <li class="active"><a href="#"> [RU] <b>Ru Hab</b>  /  EHOME.L vs DUOBAO | bo2 | Dota2 ProfesSional league</a></li>
        </ul>
      </div>
      
    </div>

  </div> 
</div>
