<!-- Modal -->
<div class="modal fade" id="stavka" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        
        <div class="prwms_ico"><b class="gti-dice"></b></div>
        <h4>
          Заголовок
        </h4>
      </div>
      <div class="modal-body">
          
        Текст
        <hr>
        Текст?
        
      </div>
      <div class="modal-footer">
        кнопки
      </div>
    </div>
  </div>
</div>


<!-- -->
