<!-- Modal STAVKA -->
<div class="modal prwms st-wms fade" id="stavka" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        
        <div class="prwms_ico"><b class="gti-dice"></b></div>
        <h4>
          Сделать ставку на матч 
        </h4>
      </div>
      <div class="modal-body">
          
        Табличка букмекеров
        <hr>
        стата?
        
      </div>
      <div class="modal-footer">
        <i class="gti-info-circle"></i> Текстик о ставках
      </div>
    </div>
  </div>
</div>


<!-- -->


<!-- Modal Prognoz -->
<div class="modal prwms bet-wms fade" id="prognoz" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        
        <div class="prwms_ico"><b class="gti-dice"></b></div>
        <h4 class="modal-title">Коэффициенты / Прогнозы</h4>
      </div>
      <div class="modal-body">
        <div class="betheader">
          <div class="row">
            <div class="col-sm-5">
              <div class="mop1">
                <div class="teamlogo">
                  <a class="mteamlogo" href="/dota-2/team/og"><img src="http://game-tournaments.com/media/logo/_60/pic-20151102-100x100-6558096911.png"></a>
                  <span class="country"><img class="odtip" title="Europe" src="http://game-tournaments.com/media/flag/25.png"></span>
                </div>
                <h3 class="mteamname">
                  <a href="/dota-2/team/og">OG</a>
                </h3>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="maction"><span>VS</span></div>
            </div>
            <div class="col-sm-5">
              <div class="mop2">
                <div class="teamlogo">
                  <a class="mteamlogo" href="/dota-2/team/navi"><img src="http://game-tournaments.com/media/logo/_60/navi-8110101.png"></a>
                  <span class="country"><img class="odtip" title="Ukraine" src="http://game-tournaments.com/media/flag/14.png"></span>
                </div>
                <h3 class="mteamname">
                  <a href="/dota-2/team/navi">Natus Vincere</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="bets-block bc">
          <h2>Коэффициенты букмекеров / Ставки на реальные деньги</h2>
            <table class="table">
                <tbody><tr>
                  <td><img class="bl" src="http://game-tournaments.com/html/img/logo_d2l.png" alt=""></td>
                  <td class="td-tn1"><a class="tn1" href="">London Conspiracy Dota2</a></td>
                  <td class="tkf"><span class="kbig">12.41</span> : <span class="ksm">1.45</span></td>
                  <td class="td-tn2"><a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a></td>
                  <td class="td-btn"><a class="btn btn-sm btn-primary">поставить</a></td>
                </tr>
                <tr>
                  <td><img class="bl" src="http://game-tournaments.com/html/img/logo_bmc.png" alt=""></td>
                  <td class="td-tn1"><a class="tn1" href="">London Conspiracy Dota2</a></td>
                  <td class="tkf"><span class="kbig">12.41</span> : <span class="ksm">1.45</span></td>
                  <td class="td-tn2"><a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a></td>
                  <td class="td-btn"><a class="btn btn-sm btn-primary">поставить</a></td>
                </tr>
                <tr>
                  <td><img class="bl" src="http://game-tournaments.com/html/img/logo_headshot.png" alt=""></td>
                  <td class="td-tn1"><a class="tn1" href="">London Conspiracy Dota2</a></td>
                  <td class="tkf"><span class="kbig">12.41</span> : <span class="ksm">1.45</span></td>
                  <td class="td-tn2"><a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a></td>
                  <td class="td-btn"><a class="btn btn-sm btn-primary">поставить</a></td>
                </tr>
                <tr>
                  <td><img class="bl" src="http://game-tournaments.com/html/img/logo_vital.png" alt=""></td>
                  <td class="td-tn1"><a class="tn1" href="">London Conspiracy Dota2</a></td>
                  <td class="tkf"><span class="kbig">12.41</span> : <span class="ksm">1.45</span></td>
                  <td class="td-tn2"><a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a></td>
                  <td class="td-btn"><a class="btn btn-sm btn-primary">поставить</a></td>
                </tr>
                <tr>
                  <td><img class="bl" src="http://game-tournaments.com/html/img/logo_egb.png" alt=""></td>
                  <td class="td-tn1"><a class="tn1" href="">London Conspiracy Dota2</a></td>
                  <td class="tkf"><span class="kbig">12.41</span> : <span class="ksm">1.45</span></td>
                  <td class="td-tn2"><a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a></td>
                  <td class="td-btn"><a class="btn btn-sm btn-primary">поставить</a></td>
                </tr>
              </tbody></table>
            </div>
        
        <div class="bets-block">
          <h2>Синдикат прогнозов график</h2>
          {% include "match-page/section-prognoz-sind.html" %}
        </div>
        
        <div class="bets-block">
          <h2>Прогнозы</h2>
          <div class="tse-content">

            <div class="prp active">
              <div class="prh">
                <table>
                  <tbody><tr>
                    <td>
                      <span class="thumb"><i class="gti-thumbs-up active"></i><b>123</b><i class="gti-thumbs-o-down"></i></span>
                    </td>
                    <td>
                      <a href="">Прогнозы и аналитика от entryAd</a>
                    </td>
                    <td class="nwr">
                      <b class="pris p-i-1"></b>
                      <u><em>до 30 апр <i class="gti-check"></i></em></u>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="prt">
                Для меня конечно фавориты альянс,но фнатики не настолько слабы,подавно после игры с vg.Моя ставка на +1.5 за фнатик,но побеждать должны все-же альянс.
              </div>
              <a class="prm" href="" data-toggle="modal" data-target="#prm1">еще</a>
            </div>
            <div class="prp active">
              <div class="prh">
                <table>
                  <tbody><tr>
                    <td>
                      <span class="thumb"><i class="gti-thumbs-up active"></i><b>123</b><i class="gti-thumbs-o-down"></i></span>
                    </td>
                    <td>
                      <a href="">Прогнозы и аналитика от entryAd</a>
                    </td>
                    <td class="nwr">
                      <b class="pris p-i-1"></b>
                      <b class="pris p-i-2"></b>
                      <u><button class="btn btn-xs btn-default">$ 3.5/МЕС</button></u>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="pr_st">
                <table>
                  <tbody><tr>
                    <th>Прогнозы</th>
                    <th>Проходимость</th>
                    <th>ROI</th>
                    <th>Ставки</th>
                    <th>Подписки</th>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>76.6%</td>
                    <td>76.6%</td>
                    <td>23</td>
                    <td>239</td>
                  </tr>
                </tbody></table>
              </div>
            </div>

            <div class="prp">
              <div class="prh">
                <table>
                  <tbody><tr>
                    <td>
                      <span class="thumb"><i class="gti-thumbs-up active"></i><b>123</b><i class="gti-thumbs-o-down"></i></span>
                    </td>
                    <td>
                      <a href="">Прогнозы и аналитика от entryAd</a>
                    </td>
                    <td class="nwr">
                      <b class="pris p-i-1"></b>
                      <b class="pris p-i-2"></b>
                      <u><em>до 30 апр</em> <button class="btn btn-xs btn-default">Free</button>
                      </u>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="prt">
                Для меня конечно фавориты альянс,но фнатики не настолько слабы,подавно после игры с vg.Моя ставка на +1.5 за фнатик,но побеждать должны все-же альянс.
              </div>
              <a class="prm" href="" data-toggle="modal" data-target="#prm1">еще</a>
            </div>

            <div class="prp">
              <div class="prh">
                <table>
                  <tbody><tr>
                    <td>
                      <span class="thumb"><i class="gti-thumbs-up active"></i><b>123</b><i class="gti-thumbs-o-down"></i></span>
                    </td>
                    <td>
                      <a href="">Прогнозы и аналитика от entryAd</a>
                    </td>
                    <td class="nwr">
                      <b class="pris p-i-1"></b>
                      <b class="pris p-i-2"></b>
                      <u><em>до 30 апр</em> <button class="btn btn-xs btn-default">Free</button>
                      </u>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="prt">
                Для меня конечно фавориты альянс,но фнатики не настолько слабы,подавно после игры с vg.Моя ставка на +1.5 за фнатик,но побеждать должны все-же альянс.
              </div>
              <a class="prm" href="" data-toggle="modal" data-target="#prm1">еще</a>
            </div>

            <div class="prp">
              <div class="prh">
                <table>
                  <tbody><tr>
                    <td>
                      <span class="thumb"><i class="gti-thumbs-up active"></i><b>123</b><i class="gti-thumbs-o-down"></i></span>
                    </td>
                    <td>
                      <a href="">Прогнозы и аналитика от entryAd</a>
                    </td>
                    <td class="nwr">
                      <b class="pris p-i-1"></b>
                      <b class="pris p-i-2"></b>
                      <u><em>до 30 апр</em> <button class="btn btn-xs btn-default">Free</button>
                      </u>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="prt">
                Для меня конечно фавориты альянс,но фнатики не настолько слабы,подавно после игры с vg.Моя ставка на +1.5 за фнатик,но побеждать должны все-же альянс.
              </div>
              <a class="prm" href="" data-toggle="modal" data-target="#prm1">еще</a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <a href="" class="btn btn-success">Закрыть</a>
      </div>
    </div>
  </div>
</div>