  <!-- Site Sripts -->
  <script src="/js/main.js"></script>


<!--PAGES select-->
<style>
  .project-menu{
    display: none;
    
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0px;
    left:0;
    text-align:center;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px 0px 0px 0px;
  }
  .project-menu a{
    font-size: 10px;
  }
</style>
<div class="project-menu">
  <div class="btn-group" role="group" id="hpages">
    <a href="/index.html" class="m2 btn btn-sm btn-success">Home</a>
    <a href="/match.html" class="m1 btn btn-sm btn-warning">Match</a>
    <a href="/404.html" class="m2 btn btn-sm btn-success">404</a>
    <a href="/fonts.html" class="m2 btn btn-sm btn-success">Ico</a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
(function ($) {
  'use strict';

  $(document).ready(function () {
    
    $(function () {
        setNavigation();
    });

    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);

        $("#hpages a").each(function () {
            var href = $(this).attr('href');
            if (path.substring(0, href.length) === href) {
                $(this).addClass('active');
            }
        });
    }
  }); //end ready

}(jQuery));
</script>