/*
  Base
*/
body{
  color:$text-main;
  font-family: 'Roboto', Arial, sans-serif;
  background: $body-bg;
  position: relative;
  padding-left: 50px;
}
.csgo{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
a{
  transition: $tease;
  color: $link-light-blue;
  
  &:active,
  &:focus,
  &:hover{
    color: $link-blue-active;
    text-decoration: underline;
  } 
}



