/*
match-banner.css
match-banner.html
*/
.mban{
  color: #fff;
  line-height: 1;
  position: relative;
  display: block;
  z-index: 1;
  /*
  background: url(/img/topLight.png) no-repeat 50% 0;
  */
  
  &:hover,
  &:active,
  &:focus{
    color: #fff;
  }

  .abg_wrap {
    position: relative;
    max-width: 1200px;
    display: block;
    margin: 0 auto;

    @media (max-width: 1599px) {
      max-width: 980px;
    }

    .abg_top {
      position: relative;
      max-width: 500px;
      height: 120px;
      display: block;
      margin: 0 auto;
      
      .abg_md {
        width: 100px;
        height: 73px;
        background: url(../img/mday.png) no-repeat 50% 50%;
        background-size: cover;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -50px;
        z-index: 2;
        
        i {
          position: absolute;
          bottom: 4px;
          left: 0;
          right: 0;
          text-align: center;
          font-style: normal;
          text-transform: uppercase;
          font-size: 10px;
          white-space: nowrap;
        }
      } /*abg_md*/
      
      .abg_i1, .abg_i2 {
        width: 110px;
        height: 70px;
        position: absolute;
        top: 10px;
        display: block;
        text-align: center;
        text-decoration: none;
        margin-top: 5px;
        
        b{
          text-transform: uppercase;
          display: block;
          padding-top: 5px;
        }
        
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../img/tp1.png) no-repeat 50% 50%;
            display: block;
            width: 295px;
            height: 200px;
            margin: -100px -146px;
            opacity: .4;
            transition: all .3s linear;
        }
        img{
          height: 70px;
          max-width: 110px;
          position: relative;
          z-index: 2;
        }
      }
      .abg_i1 {
          left: 0px;
      }
      .abg_i2 {
        right: 0px;
        
        &:before {
            background: url(../img/tp2.png) no-repeat 50% 50%;
        }
      }
      
      .kmob{
        position: absolute;
        left: 50%;
        bottom: 10px;
        width: 140px;
        text-align: center;
        margin-left: -70px;
        text-decoration: none;
        font-weight: 800;
        font-size: 20px;
      }
    } /*abg_top*/
  } /*abg_wrap*/


  .dobet{
      padding: 5px;
      position: absolute;
      float: right;
      top: 10px;
      right: 15px;
      border: 1px dAShed #866448;
      text-align: center;
      width: 140px;
      border-radius: 3px;

    .abg_btn {
      display: inline-block;
      background: url(../img/btnbg.png) no-repeat 50% 50%;
      background-size: cover;
      width: 128px;
      height: 40px;
      padding: 15px 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      text-align: center;
      line-height: 1;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.48);
      color: #ffffff;
      transition: all .3s linear;
      margin-top: -10px;
    }
    .ggbet {
      display: inline-block;
      background: url(../img/bets_gg.png) no-repeat 50% 50%;
      background-size: cover;
      width: 80px;
      height: 34px;
    }
    .ggbetT {
      display: inline-block;
      font-size: 9px;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700;
      color: #f9f7c6;
      text-shadow: 0 3px 5px #333;
      line-height: 1;
    }
  }

  .abg_mt{
    color: #d1c0af;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 32px;
    font-weight: bold;
    text-align: right;
    max-width: 170px;

    b{
      font-size: 14px;
      display: block;
    }

  }

} /*mban*/
  
@media (max-width: 1300px) {
  .mban {
    top: -20px;
    .abg_wrap {
      .abg_top {
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 1290px) {
  .mban {
    .abg_wrap {
      .abg_top {
        height: 75px;
        margin: 60px auto 0;
        max-width: 280px;
        
        .abg_md{
          width: 60px;
          height: 42px;
          margin-left: -30px;
          top: -3px;
          i{
            bottom: 0px;
          }
        }
        .abg_i1,.abg_i2 {
          top: -3px;
          width: 70px;
          img{
            height: 40px;
          }
          b{
            font-size: 10px;
          }
        }
        .kmob{
          font-size: 16px;
        }
      }
    }
    .abg_mt {
      max-width: 50%;
      text-align: right;
      top: 10px;
      font-size: 8px;
      right: 80%;

      b {
        font-size: 9px;
      }
    }
    .dobet {
      top: -17px;
      right: 15px;
      left: auto;
    }
  }
}


@media (max-width: 580px) {
  .mban{
    .dobet{
      display: none;
    }
    .abg_mt {
      text-align: center;
      width: 100%;
      top: -30px;
      left: 0;
      right: 0;
      max-width: 100%;
    }
  }
}
  