/*
  Page styles
*/

.matchWrap{
  padding: 50px 0 120px 0;
  overflow: hidden;
  
  .frameblock{
    position: fixed 0 383px 0 0;
    height: 100%;
    z-index: 4;
    
    .frame{
      position: absolute 50px 0 125px 0;
      background: #111; 

      iframe{
        z-index: 2;
        position: relative;
      }
    }
    .frameBottom{
      position: absolute 100% 0 0 0;
      height: 125px;
      margin-top: -125px;
      background: #000;
      overflow: hidden;
    }
  }
}

.pageMatch{
  footer{
    width: 383px;
    top: 100%;
    right: 0;
    bottom: 0;
    left: auto;
    position: absolute;
    margin-top: -125px;
    background: #000;
    height: 125px;
    font-size: 10px;
    line-height: 1.2;
  }
}

.mdrop{
  width: 150px;
  float: right;
  margin-right: 10px;
  
  @media (max-width: 990px) {
    width: 38px;
  }
  .btn{
    height: 34px;
    color: #f05020;
    
    &:hover,
    &:focus,
    &:active{
      color: #fff;
    }
    .caret {
      margin: 10px 0 8px 5px;
      position: absolute;
      right: 8px;
      @media (max-width: 990px) {
        right: 0px;
      }
    }
    
  }
  #vtitle{
    overflow: hidden;
    display: inline-block;
    margin-right: -25px;
    width: 100%;
    text-overflow: ellipsis;
    u{
      text-decoration: none;
      font-weight: 600;
    }
    @media (max-width: 990px) {
      b,em{
        display: none;
      }
    }
  }
}
.logheader{
  padding: 10px;
  font-size: 18px;
  background: #42362d;
  
  .mapDrop{
    float: right;
    position: relative;
    .dropdown{
      margin-left: 10px;
      display: inline-block;
    }
    b{
      font-size: 11px;
      opacity: .5;
    }
  }
}
.log{
  min-height: 780px;
  float: right;
  width: 383px;
  position: relative;
  background-image: url(../img/topgradient.png);
  background-repeat: repeat-x;
  background-color: #17100b;
  background-attachment: fixed;
  position: relative;
  font-size: 12px;
  
  .logTable{
    position: relative;
    
      &:before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      background: #4c3c31;
      top: 30px;
      bottom: -10px;
      margin-left: 71px;
        
    }
  }
  
  .table{
    margin-bottom: 10px; 
  }
  .table>tbody>tr>td{
    border: 0;
    padding: 8px 5px;
  }
  .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background: rgba(21, 14, 10, 0.55);
  }
  
  .time{
    padding-top:13px!important;
    text-align:right;
    width:65px;
    position: relative;
    vertical-align: top;
    
    .tpop{
      position: absolute 3px * * 3px;
      z-index: 2;
      cursor: pointer;
      text-decoration: none;
      opacity: 0;
    }
    
    &.timeProgres{
      line-height:12px; 
      padding-top:11px !important;
      text-align:right; 
      width:65px;
      vertical-align: top;
      
      .text-muted{
        opacity: .7;
      }
    }
  }
  
  tr:hover,
  tr.active{
    background: rgba(21, 14, 10, 0.45);
  }
  
  tr:hover .tpop,
  tr:focus .tpop,
  tr:active .tpop{
      opacity: 1;
  }
  
  .event{
    position:relative;
    padding-top:8px;
    vertical-align: middle;
    
    img {
      height: 20px;
      margin: 2px 1px 2px 0;
      box-shadow: 0 0 0 1px #211a17;
      border-radius: 1px;
      
      &:nth-child(1){
        margin: 2px 5px 2px 0;
        height: 22px;
      }
    }
    
    .progress{
      position: absolute;
      top: 25px;
      left: 5px;
      height: 4px;
      width: 40px;
      border-radius: 0;
    }
    
    .fightTable{
      position:relative;
      margin:2px 0 0 0;
      background: transparent;
      text-align: right;
      
      &.table>tbody>tr>td, &.table>tbody>tr>th, &.table>tfoot>tr>td, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>thead>tr>th{
        border-top: 0;
        border-bottom:0;
        text-align: right;
        vertical-align: middle;
        padding: 3px 5px;
        
        &:first-child{
          text-align: left;
        }
      }
      &.table>thead>tr>th{
        color: #d6af94;
        font-weight: 400;
      }
      &.table>thead>tr{
        background: rgba(64, 53, 47, 0.38);
      }
      &.table>tbody>tr>td:nth-child(2){
        font-size: 1.1em;
        color: #e4d3c3;
      }
      .krest{
        position: absolute;
        left: -82px;
        width: 80px;
        margin-top: 12px;
        font-size: 12px;
        text-align: right;
        color: red;
      }
      
    }
  }
  .log-type {
    width: 35px;
    
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0 0 0 1px #211a17;
    }
  }
} /*log*/

.summary{
  padding: 5px 0px 15px 0px;
  background: #2a231e;
  border-top: 1px solid #4c3c31;
  
  .logheader{
  }
  .table{
    width: 100%;
    margin-bottom: 0;
    
    thead{
      border-bottom: 0;
      font-weight: bold;
      color: #f05020;
      background: rgba(64,53,47,.38);
      border-top: 1px dashed #4c3c31;
      border-bottom: 1px dashed #4c3c31;
    }
    
    tr:nth-child(even){
      background: rgba(0, 0, 0, 0.1);
    }
    tr:hover{
      background: rgba(0, 0, 0, 0.2);
    }
    td,th{
      border: 0;
      padding: 5px;
      vertical-align: middle;
      text-align: right;
      
      &:nth-child(1){
        text-align: left;
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
      }
      img{
        margin: 0;
        height: 22px;
      }
      u{
        padding-left: 8px;
        text-decoration: none;
        font-weight: 400;
        span {
          opacity: .6;
        }
      }
    }
  }
} /*summary*/


abbr {
  border-bottom: 1px dashed #f05020 !important;
  text-decoration: none !important;
}
.dead img {
    filter: grayscale(1);
    opacity: 0.8;
}

@media (min-width: 1680px) {
  .log {
    width: 490px;
    &:before{
      margin-left: 83px;
    }
    .logTable:before{
      margin-left: 83px;
    }
  }
  .matchWrap .frameblock {
    right: 490px;
  }
  .pageMatch footer{
    width: 490px;
  }
}

@media (max-width: 1100px) {
  .matchWrap{
    .frameblock{
      
    }
    .log{
      .logTable:before{
        margin-left: 63px;
      }
      .time{
        width: 45px;
        &.timeProgres{
          width: 45px;
        }
      }
      & tr:hover .time:before, 
      & tr.active .time:before{
        left: 2px;
        font-size: 9px;
        top: 20px;
      }
    }
  }
}

/*
ONLY portrait orientation
*/

@media (max-device-width: 960px) and (orientation : portrait){
  .matchWrap{
    .frameblock{
      position: relative 0 0 0 0;
      margin-top: 0px;
      /*
      .frameTop{
        position: relative 0 0 0 0;
      }
      */
      .frame{
        position: relative 0 0 0 0;
        height: 550px;
      }
      .frameBottom{
        position: relative 0 0 0 0;
        margin: 0;
        .btn-group-lg>.btn, .btn-lg {
          padding: 5px 8px;
          font-size: 15px;
        }
      }
    }
    
    .log{
      float: none;
      margin: 0;
      width: auto;
      padding: 15px;
      
      .table>tbody>tr>td{
        padding: 3px 5px;
      }
    }
  }
  .pageMatch footer {
    width: auto;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-top: -120px;
    background: #000;
    height: 120px;
  }
  
  /*player fix*/
  .fix{
    z-index: 10;
    position: relative;
  }
  .fix #ytplayer{
    position: fixed 50px 0 * 0!important;
    height: 450px;
    z-index: 10;
  }
}

@media (max-width: 800px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      height: auto;
      /*
      .frameTop {
        height: auto;
        padding: 10px 0;
        .row{
          display: block;

          >div{
            display: block;
            height: auto;
            vertical-align: middle;
            float: none;
            width: 100%!important;
            text-align: center!important;
            
            i {
              font-size: 18px;
              margin: 0;
            }
            h1{
              font-size: 16px;
              margin: 5px 0;
            }
            b {
              font-size: 11px;
            }
          }
        }
      }
      */
      .frameBottom{
        display: none;
      }
      .frame{
        height: 450px;
      }
    }
  }
  .mban {
    top: 0px;
  }
}

@media (max-width: 700px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 400px;
      }
    }
  }
}

@media (max-width: 600px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 300px;
      }
    }
    .log{
      padding: 5px 5px;
      .event{
        .fightTable{
          font-size: 11px;
          td,
          th{
            padding: 5px 2px!important;
          }
        }
      }
    }
  }
}
@media (max-width: 500px)  and (orientation : portrait){
  .matchWrap{
    .frameblock{
      .frame{
        height: 240px;
      }
    }
    .fix #ytplayer{
      height: 240px;
    }
  }
}
@media (max-width: 400px)  and (orientation : portrait){
  .matchWrap{
    .frameblock{
      .frame{
        height: 200px;
      }
    }
    .fix #ytplayer{
      height: 120px;
    }
  }
}
@media (max-width: 375px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 200px;
      }
    }
     .fix #ytplayer{
        height: 200px;
      }
  }
}
@media (max-width: 321px) and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 180px;
      }
    }
     .fix #ytplayer{
        height: 180px;
      }
  }
}



/*
ONLY landscape orientation
*/

@media (max-width: 736px) and (orientation : landscape){
  .mban{
    display: none !important;
  }
  .pageMatch footer{
    width: 283px;
  }
  .matchWrap{
    .frameblock{
      right: 283px;
      .frame{
        bottom: 0px!important;
        top: 50px;
      }
      .frameBottom{
        height: 40px;
        margin-top: -45px;
        overflow: visible;
      }
    }
    .log{
      font-size: 10px;
      width: 283px;
      
      &:before{
        margin-left: 59px;
      }
      
      .time{
        padding-top: 6px!important;
      }
      .log-type {
        width: 30px;
        img{
          width: 20px;
          height: 20px;
        }
      }
      .table>tbody>tr>td{
        padding: 3px 5px;
      }
      tr:hover .time:before, 
      tr.active .time:before {
        left: 1px;
        font-size: 8px;
        top: 8px;
      }
      
      .event {
        img {
          height: 17px;
        }

        .fightTable{
          &.table>tbody>tr>td, &.table>tbody>tr>th, &.table>tfoot>tr>td, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>thead>tr>th{
            padding: 4px 2px;
          }
          .krest {
            margin-top: 7px;
          }
        }
        .progress {
          width: 30px;
        }
      }/*event*/
    }
  }
}







