/*
  Home styles
*/

.herotext{
  font-size: 12px;
  font-weight: 300;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.mlist{
  padding: 2px;
  border: 1px solid #46392f;
  
  .mlt-filter{
    padding: 5px;
    
    .row{
      margin-left: -5px;
      margin-right: -5px;
      >div{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .input-group{
      margin-bottom: 5px;
    }
    .input-group-btn.open{
      position: static;
    }

    .dropdown-menu{
      left: 0;
      right: 0;   
      max-width: 100%;
    }
    
    input,
    btn{
    }
  }
  
}


.mtable{
  width:100%;
  
  td{
    padding: 5px 10px;
    height: 55px;
  }
  
  .mItem{
    transform: $tease;
    /*border-left: 4px solid #211a15;*/
    
    &:nth-child(odd){
      background: rgba(255, 255, 255, 0.06);
    }
    
    &.gr{
      /*border-left: 4px solid #46392f;*/
      border-top: 2px solid #46392f;
    }
    
    &:hover{
      cursor: pointer;
      background: rgba(52, 44, 39, 0.49);
    }
    
    .tname{
      width: 120px;
      img{
        width: 90px;
      }
    }
    .mapName{
      width: 10%;
      text-transform: uppercase;
      font-weight: bold;
    }
    .tdInfo{
      text-align: center;
      
      .tlogo{
        opacity: .7;
        width: 40px;
        margin: 0 10px;
      }
      .mscore{
        margin: 0 10px;
      }
      .tn1, .tn2{
        width: 30%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        @media (max-width: 1200px) {
          width: 20%;
        }
      }
      .tn1{
        text-align: right;
      }
      .tn2{
        text-align: left;
      }
      .flag{
        margin: 0 5px;
      }
      
    }
    .hasVod{
      width: 10%;
      text-align: center;
      a{
        display: inline-block;
        padding: 2px 6px;
        text-transform: uppercase;
        border-radius: 50% / 10%;
        color: #8c7a6f;
        font-size: 13px;
        margin: 3px;
        background: #342c27;
        position: relative;
        span{
          position: relative;
          z-index: 2;
        }
        &:before{
          content: "";
          position: absolute;
          top: 10%;
          bottom: 10%;
          right: -5%;
          left: -5%;
          background: #342c27;
          border-radius: 5% / 50%;
        }
        
        &:hover,
        &:active,
        &:focus{
          background: #d1c0af;
          color: #333;
          text-decoration: none;
          
          &:before{
            background: #d1c0af;
          }
        }
      }
    }
    .tdDate{
      text-align: right;
      width: 120px;
    }
  }
}




@media (max-width: 990px) {
  .herotext{
    line-height: 1.3;
    padding: 0 10px;
  }
  .mtable{
    
    td {
      padding: 2px 5px;
    }
    .mItem {
      .tname{
        width: 50px;
        
        img{
          width: 40px;
        }
      }
      .tlogo{
        display: none;
      }
      
      .tdInfo {
        
      }
      .hasVod a{
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 700px) {
  .mtable{
    font-size: 11px;
    .mItem {
      .mapName{
        font-size: 8px;
      }
      .tdDate{
        width: 50px;
      }
      .tdInfo {
        .tn1, .tn2{
          width: auto;
        }
        .mscore {
          margin: -3px 0;
          display: block;
        }
        .flag {
          margin: 0;
          img{
            width: 14px;
          }
        }
      }
    }
  }
}
