/*
  Page styles
*/

.matchWrap{
  padding: 50px 0 120px 0;
  overflow: hidden;
  
  .frameblock{
    position: fixed 0 35% 0 0;
    height: 100%;
    z-index: 4;
    
    .frame{
      position: absolute 123px 0 185px 0;

      iframe{
        z-index: 2;
        position: relative;
      }
    }
    .frameTop{
      position: absolute 53px 0 * 0;
      height: 70px;
      background: #000 url(../img/frametop.jpg) no-repeat 0 0;
      overflow: hidden;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
      
      .row{
        display: table;
        width: 100%;
        margin: 0;
        
        > div{
          display: table-cell;
          height: 70px;
          vertical-align: middle;
          float: none;
          line-height: 1;
          
          &:nth-child(1){
            width: 30%;
          }
          &:nth-child(2){
            text-align: center;
          }
          &:nth-child(3){
            text-align: right;
            width: 30%;
          }
          i{
            font-size: 24px;
            margin: -2px 0;
            display: inline-block;
            vertical-align: bottom;
            position: absolute;
          }
          >b{
            text-transform: uppercase;
            font-size: 13px;
            margin-left: 30px;
            display: inline-block;
          }
          h1{
            display: inline-block;
            font-size: 21px;
            font-weight: bold;
            margin: 10px 0;
            padding: 0;
            color: #f05020;
            span{
              padding: 0 20px;
              color: #fff;
            }
          }
          >u{
            text-decoration: none;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
          }
          
          .mdrop{
            width: 100px;
            span{
              overflow: hidden;
              display: inline-block;
              margin-right: -20px;
              
            }
          }
          
        }
      }
    }
    .frameBottom{
      position: absolute 100% 0 0 0;
      height: 185px;
      margin-top: -185px;
      background: #29211e;
      overflow: hidden;
    }
  }
}

.pageMatch{
  footer{
    width: auto;
    position: absolute 100% 0 0 65%;
    margin-top: -100px;
    background: #000;
    height: 120px;
    
  }
}

.log{
  min-height: 780px;
  float: left;
  width: 35%;
  margin-left: 65%;
  position: relative;
  padding: 10px 0 0 0;
  font-size: 12px;
  background-image: url(../img/topgradient.png);
  background-repeat: repeat-x;
  background-color: #17100b;
  background-attachment: fixed;
  
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    background: #4c3c31;
    top: 30px;
    bottom: 5px;
    margin-left: 83px;
  }
  .table{
    margin-bottom: 0; 
  }
  .table>tbody>tr>td{
    border: 0;
    padding: 3px 5px;
  }
  .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background: rgba(21, 14, 10, 0.55);
  }
  
  .time{
    padding-top:8px!important;
    text-align:right;
    width:65px;
    position: relative;
    vertical-align: top;
    
    &.timeProgres{
      line-height:12px; 
      padding-top:6px !important;
      text-align:right; 
      width:65px;
      vertical-align: top;
      
      .text-muted{
        opacity: .7;
      }
    }
  }
  
  tr:hover,
  tr.active{
    background: rgba(21, 14, 10, 0.45);
    
    .time:before{
      content:'';
      font-family: "gticons";
      position: absolute;
      left: 5px;
      font-size: 13px;
      top: 8px;
    }
  }
  tr:hover{
    .time:before{
      opacity: .3;
    }
  }
  
  .event{
    position:relative;
    padding-top:8px;
    vertical-align: middle;
    
    img {
      height: 22px;
      margin-right: 5px;
      box-shadow: 0 0 0 1px #211a17;
      border-radius: 1px;
    }
    
    .progress{
      position: absolute;
      top: 25px;
      left: 5px;
      height: 4px;
      width: 40px;
      border-radius: 0;
    }
    
    .fightTable{
      position:relative;
      margin:1px 0 5px 0;
      background: transparent;
      text-align: right;
      
      &.table>tbody>tr>td, &.table>tbody>tr>th, &.table>tfoot>tr>td, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>thead>tr>th{
        border-top: 0;
        border-bottom:0;
        text-align: right;
        vertical-align: middle;
        padding: 5px 5px;
        
        &:first-child{
          text-align: left;
        }
      }
      &.table>thead>tr>th{
        color: #f05020;
        font-weight: 400;
      }
      &.table>thead>tr{
        background: rgba(64, 53, 47, 0.38);
      }
      
      .krest{
        position:absolute; 
        left:-42px; 
        width:40px; 
        margin-top:14px; 
        font-size:12px; 
        text-align:right; 
        color:red
      }
      
    }
  }
  .log-type {
    width: 35px;
    
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0 0 0 1px #211a17;
    }
  }
}

abbr {
  border-bottom: 1px dashed #f05020 !important;
  text-decoration: none !important;
}
.dead img {
    filter: grayscale(1);
    opacity: 0.8;
}

@media (max-width: 1100px) {
  .matchWrap{
    .frameblock{
      right: 40%;
    }
    .log{
      width: 40%;
      margin-left: 60%;
      
      .time{
        width: 45px;
        &.timeProgres{
          width: 45px;
        }
      }
      & tr:hover .time:before, 
      & tr.active .time:before{
        left: 2px;
        font-size: 9px;
        top: 20px;
      }
    }
  }
}

/*
ONLY portrait orientation
*/

@media (max-device-width: 960px) and (orientation : portrait){
  .matchWrap{
    .frameblock{
      position: relative 0 0 0 0;
      margin-top: 0px;
      .frameTop{
        position: relative 0 0 0 0;
      }
      .frame{
        position: relative 0 0 0 0;
        height: 550px;
      }
      .frameBottom{
        position: relative 0 0 0 0;
        margin: 0;
        .btn-group-lg>.btn, .btn-lg {
          padding: 5px 8px;
          font-size: 15px;
        }
      }
    }
    
    .log{
      float: none;
      margin: 0;
      width: auto;
      padding: 15px;
    }
  }
  .pageMatch footer {
    width: auto;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-top: -120px;
    background: #000;
    height: 120px;
  }
  
  /*player fix*/
  .fix{
    z-index: 10;
    position: relative;
  }
  .fix #ytplayer{
    position: fixed 50px 0 * 0!important;
    height: 450px;
    z-index: 10;
  }
}

@media (max-width: 800px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      height: auto;
      .frameTop {
        height: auto;
        padding: 10px 0;
        .row{
          display: block;

          >div{
            display: block;
            height: auto;
            vertical-align: middle;
            float: none;
            width: 100%!important;
            text-align: center!important;
            
            i {
              font-size: 18px;
              margin: 0;
            }
            h1{
              font-size: 16px;
              margin: 5px 0;
            }
            b {
              font-size: 11px;
            }
          }
        }
      }
      
      .frame{
        height: 450px;
      }
    }
  }
}

@media (max-width: 700px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 400px;
      }
    }
  }
}

@media (max-width: 600px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 300px;
      }
    }
    .log{
      padding: 15px 5px;
      .event{
        .fightTable{
          font-size: 11px;
          td,
          th{
            padding: 5px 2px!important;
          }
        }
      }
    }
  }
}
@media (max-width: 500px)  and (orientation : portrait){
  .matchWrap{
    .frameblock{
      .frame{
        height: 250px;
      }
    }
    .fix #ytplayer{
      height: 240px;
    }
  }
}
@media (max-width: 400px)  and (orientation : portrait){
  .matchWrap{
    .frameblock{
      .frame{
        height: 200px;
      }
    }
    .fix #ytplayer{
      height: 120px;
    }
  }
}
@media (max-width: 375px)  and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 200px;
      }
    }
     .fix #ytplayer{
        height: 200px;
      }
  }
}
@media (max-width: 321px) and (orientation : portrait){
   .matchWrap{
    .frameblock{
      .frame{
        height: 180px;
      }
    }
     .fix #ytplayer{
        height: 180px;
      }
  }
}



/*
ONLY landscape orientation
*/

@media (max-width: 736px) and (orientation : landscape){
  .mban{
    display: none !important;
  }
  .matchWrap{
    .frameblock{

      .frameTop{
        height: 40px;
        
        .row {
          > div{
            height: 40px;
            i{
              font-size: 16px;
              margin: 1px 0;
            }
            b{
              font-size: 10px;
              margin-left: 23px;
            }
            h1{
                  font-size: 13px;
              span{
                    padding: 0 5px;
              }
            }
            u{
              font-size: 10px;
            }
          }
        }
      }
      .frame{
        bottom: 45px;
        top: 93px;
      }
      .frameBottom{
        height: 40px;
        margin-top: -45px;
        overflow: visible;
      }
    }
    .log{
        font-size: 10px;
      
      &:before{
        margin-left: 53px;
      }
      
      .time{
        padding-top: 6px!important;
      }
      .log-type {
        width: 30px;
        img{
          width: 20px;
          height: 20px;
        }
      }
      tr:hover .time:before, 
      tr.active .time:before {
        left: 1px;
        font-size: 8px;
        top: 8px;
      }
      
      .event {
        img {
          height: 17px;
        }

        .fightTable{
          &.table>tbody>tr>td, &.table>tbody>tr>th, &.table>tfoot>tr>td, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>thead>tr>th{
            padding: 4px 2px;
          }
          .krest {
            width: 30px;
            left: -35px;
            margin-top: 8px;
          }
        }
        .progress {
          width: 30px;
        }
      }/*event*/
    }
  }
}

